@header-height: 70px;
@header-logo-width: 2.85 * @header-height;
@header-menu-size: 50px;
@color-default: #30b5d8;
@color-grey: #ededed;
@color-grey-light: #f6f6f6;
@color-yellow: #f0cb59;
@font-light: 'Open Sans Light';
@font-regular: 'Open Sans';
@font-bold: 'Open Sans Bold';
@font-extra-bold: 'Open Sans Extra Bold';

@font-face {
  font-family: "Open Sans Light";
  src: url(../fonts/OpenSans-Light.woff) format('woff');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.woff) format('woff');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "Open Sans Extra Bold";
  src: url(../fonts/OpenSans-ExtraBold.woff) format('woff');
  font-weight: normal;
  font-style: normal
}

html {
  height: 100%;
  font: normal 16px "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;

  @media (min-width: 1200px) {
    padding: 0 5%;
    width: 90%;
  }
}

.capter_title {
  font: normal 40px @font-extra-bold, sans-serif;
  margin: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.header {
  width: 100%;
  margin: 0;
  padding: 0;
  height: @header-height;
  font-size: 21px;


  .header_logo {
    display: inline-block;
    float: left;
    background-color: @color-default;
    width: @header-logo-width;
    height: @header-height;

    @media (min-width: 1200px) {
      margin-left: 110px;
    }

    &:before {
      position: absolute;
      transform: translate(43%, 25%);
      content: '';
      width: 1.5 * @header-height;
      height: 0.8 * @header-height;
      background-image: url('../img/logo.png');
      background-repeat: no-repeat;
    }
  }

  .nav_links {
    display: inline-block;
    line-height: @header-height;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: 1200px) {
      display: none;
    }

    .nav_link {
      padding: 0 10px 0 20px;
      display: inline-block;

      &:hover {
        color: white;
        background-color: grey;
        cursor: pointer;
      }
    }
  }

  .nav_btn {
    padding: 10px;
    font-weight: 600;
    font-size: 19px;
    border: 0;
    text-transform: uppercase;
    float: right;
    margin-top: 15px;
  }

  .login {
    background-color: transparent;
    margin-right: 10px;
  }

  .registration {
    background-color: @color-default;
    margin-right: 94px;

    @media (max-width: 1300px) {
      margin-right: 10px;
    }

    @media (max-width: 1200px) {
      margin-right: 94px;
    }
  }

  .search_button {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    width: @header-height;
    height: @header-height;
    background-color: @color-grey;

    &:before {
      position: absolute;
      color: white;
      transform: translate(10%, 10%) scale(0.6);
      width: @header-height;
      height: @header-height;
      content: '';
      background-image: url('../img/icons/search.png');
      background-repeat: no-repeat;
    }
  }

  .menu {
    position: absolute;
    right: 10px;
    margin-top: 0.15 * @header-height;
    display: inline-block;
    width: @header-menu-size;
    height: @header-menu-size;
    padding: 0.4 * @header-menu-size 0;
    background-color: @color-default;
    background-clip: content-box;
    border: transparent;
    outline: 0;

    @media (min-width: 1200px) {
      display: none;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.2 * @header-menu-size;
      background-color: @color-default;
    }

    &:before {
      top: 0;
      left: 0;
    }

    &:after {
      top: 0.8 * @header-menu-size;
      left: 0;
    }

    .menu_opened {
      background-color: transparent;

      &:before, &:after {
        top: 0.4 * @header-menu-size;
      }

      &d:before {
        transform: rotate(-45deg) scaleX(1.2);
      }

      &:before {
        transform: rotate(45deg) scaleX(1.2);
      }
    }
  }
}

.slides {
  position: relative;
  z-index: 0;

  .main_slide {
    position: relative;
    width: 100%;
    z-index: 2;
  }

  .second_slide {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
    top: 0;
    padding: 0;

    &:hover {
      z-index: 3;
    }
  }

  .second_slide_img {
    position: absolute;

    &:hover {
      z-index: 1;
    }
  }
  .slide_preview_description {
    display: inline-block;
    position: absolute;
    width: 440px;
    height: 250px;
    z-index: 100;
    right: 250px;
    top: 150px;
    padding: 15px 25px 25px 25px;
    overflow: hidden;
    background-color: @color-default;
    color: white;
  }

  .slide_preview_description_title {
    color: black;
    font-size: 30px;
    background-color: @color-default;
  }

  .slide_preview_wrapper {
    position: absolute;
    display: inline-block;
    right: 250px;
    top: 50px;
    z-index: 10;

    &:first-child {
      display: inline-block;
      right: 570px;
    }

    &:nth-child(2) {
      right: 410px;
    }

    &:nth-child(4) {
      top: 150px;
    }

    &:nth-child(5) {
      top: 250px;
    }

    .slide_preview {
      position: absolute;
      z-index: 10;
    }
  }


  &:before {
    position: absolute;
    bottom: -108px;
    content: '';
    width: 718px;
    height: 180px;
    z-index: 10;
    background-image: url('../img/decor.png');
    background-repeat: no-repeat;
  }
}

.news {
  font-size: 24px;

  .sort_news {
    font-family: @font-light;
    float: right;
    margin: 30px 23px 0 0;

    .sort_news_btn {
      font-family: @font-light;
      outline: 0;
      padding: 10px 18px;
      font-size: 24px;
      border: 0;
      border-radius: 3px;
      background-color: transparent;
      margin-right: 10px;
      cursor: pointer;

      &:first-child {
        margin-left: 35px;
      }

      &[data-active="true"] {
        font-family: @font-bold;
        font-size: 25px;
        font-weight: 600;
        background-color: @color-yellow;
      }
    }
  }


  .news_title {
    margin: 60px 0 0 40px;

    hr {
      color: @color-grey;
      border: 2px solid @color-grey-light;
      width: 100%;
      font-size: 0;
    }

    .news_title_name {
      .capter_title;
      display: inline-block;
      margin: -15px 0 0 25px;
    }

    .news_title_all {
      vertical-align: top;
      margin-left: 31px;
      font-size: 18px;
      color: @color-default;
      border-bottom: dashed 1px @color-default;
      text-decoration: none;
    }

    .news_select_type {
      font-size: 25px;
      font-family: @font-light;
      padding: 0 2px 5px 20px;
      display: inline-block;
      color: @color-default;
      float: right;
      margin: -10px 15px 0 0;
      border: 0;
      outline: 0;
      box-shadow: none;
      width: 350px;
      height: 50px;
      background: url('../img/icons/select-arrow.png') no-repeat right #ebebeb;
      -webkit-appearance: none;
      background-position-x: 309px;
    }
  }
  .news_slides {
    font-size: 0;
    margin-top: 20px;

    img {
      float: left;
    }
  }

  .news_slides_wrapper_img{
    position: relative;

    .news_slides_main_description {
      display: inline-block;
      position: absolute;
      top: 200px;
      left: 60px;
      width: 400px;
      height: 100px;
      z-index: 200;
      background-color: #8e2e49;
      opacity: 0.8;
      transform: skewX(-20deg);
    }
  }
}

.add_more {
  text-align: center;
  margin: 80px;
}

.add_more_button {
  padding: 12px 80px;
  font-family: @font-light;
  font-size: 24px;
  font-weight: 100;
  background-color: white;
  border-radius: 32px;
  border: 3px solid @color-default;
}

.decor_line {
  position: absolute;
  top: 180px;
  left: 80px;
  width: 100px;
  border: 5px solid @color-yellow;
}

.description-bubble {
  position: relative;
  background-color: #f3f1dc;
  width: 200px;
  height: 150px;
  text-align: center;
  font-family: sans-serif;
  display: table;

  p {
    display: table-cell;
    vertical-align: middle;
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid;
  }
}

.description-bubble-top-small {
  position: absolute;
}

.description-bubble-top:after {
  color: transparent;
  border-bottom-color: #f3f1dc;
  left: 50%;
  bottom: 100%;
  margin-left: -15px;
}

.description-bubble-left:after {
  color: transparent;
  border-right-color: #f3f1dc;
  top: 50%;
  right: 100%;
  margin-top: -15px;
}