@import "style_fonts";
@header-height: 70px;
@header-logo-width: 2.85 * @header-height;
@header-menu-size: 50px;
@color-default: #30b5d8;
@color-grey: #ededed;
@color-grey-light: #f6f6f6;
@color-yellow: #f0cb59;
@font-light: 'Open Sans Light';
@font-regular: 'Open Sans';
@font-bold: 'Open Sans Bold';
@font-extra-bold: 'Open Sans Extra Bold';
@font-face {
    font-family: "Open Sans Light";
    src: url(../fonts/OpenSans-Light.woff) format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Open Sans Bold";
    src: url(../fonts/OpenSans-Bold.woff) format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Open Sans Extra Bold";
    src: url(../fonts/OpenSans-ExtraBold.woff) format('woff');
    font-weight: normal;
    font-style: normal
}

html {
    height: 100%;
    font: normal 16px "Open Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0; // overflow-x: hidden;
}

.container {
    width: 100%;
    @media (min-width: 1200px) {
        width: 1200px;
        margin: 0 auto;
    }
}

.group_blocks_row {
    display: flex;
    justify-content: flex-start;
    &>.news_slides_wrapper_img {
        width: 100%;
    }
    @media (min-width: 1024px) {
        &>.news_slides_wrapper_img:first-child,
        &>.group_blocks:first-child {
            width: 58%;
        }
        &>.news_slides_wrapper_img:last-child,
        &>.group_blocks:last-child {
            width: 42%;
        }
        &>.group_blocks>.news_slides_wrapper_img {
            width: 50%;
        }
    }
}

.group_blocks {
    display: flex;
    flex-direction: row;
}

.group_blocks_2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    &>.news_slides_wrapper_img {
        width: 50%;
    }
}

.group_blocks.group_blocks_4 {
    width: 100%;
    @media (min-width: 1024px) {
        width: initial;
    }
}

.group_blocks.group_blocks_3>.group_blocks>div.news_slides_wrapper_img {
    width: 50%;
}

.group_blocks.group_blocks_3>div.news_slides_wrapper_img {
    width: 100%;
}

.group_blocks_3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    &>div.news_slides_wrapper_img {
        width: 100%;
    }
}

.capter_title {
    display: inline-block;
    font: normal 40px @font-extra-bold, sans-serif;
    margin: 0;
}

.capter_title_all {
    margin-left: 31px;
    font-size: 18px;
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.carousel-indicators {
    position: absolute;
    display: block;
    top: 120px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    @media (min-width: 1024px) {
        top: 30px;
    }
    li {
        @size: 15px;
        display: inline-block;
        width: @size;
        height: @size;
        margin: 1px 10px 1px 1px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #000;
        opacity: 0.4;
        border: 0 solid #fff;
        border-radius: @size;
    }
    li.active {
        background-color: #000;
        opacity: 0.8;
    }
}

.flex_wrapper_left {
    display: flex;
}
.flex_wrapper_right {
    display: flex;
}

.header {
    width: 100%;
    margin: 0;
    padding: 0;
    height: @header-height;
    font-size: 21px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    @media (min-width: 480px) {
        display: flex;
    }
    .header_logo {
        display: none;
        background-color: @color-default;
        width: @header-logo-width;
        height: @header-height;
        @media (min-width: 480px) {
            display: inline-block;
        }
        @media (min-width: 1200px) {
            margin-left: 110px;
        }
        &:before {
            position: absolute;
            transform: translate(43%, 25%);
            content: '';
            width: 1.5 * @header-height;
            height: 0.8 * @header-height;
            background-image: url('../img/logo.png');
            background-repeat: no-repeat;
        }
    }
    .nav_links {
        display: inline-block;
        line-height: @header-height;
        padding: 0;
        margin: 0;
        list-style: none;
        @media (max-width: 1200px) {
            display: none;
        }
        .nav_link {
            display: inline-block;
            &:hover {
                color: white;
                background-color: grey;
                cursor: pointer;
            }
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                margin: 0 15px;
                text-decoration: none;
                &:active {
                    color: black;
                    text-decoration: none;
                }
                &:visited {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
    .nav_btn {
        padding: 10px;
        font-weight: 600;
        font-size: 19px;
        border: 0;
        text-transform: uppercase;
        margin: 15px 0;
        &:hover {
          cursor: pointer;
        }
    }
    .login {
        display: none;
        background-color: transparent;
        margin-right: 10px;
        @media (min-width: 768px) {
            display: inline-block;
        }
    }
    .registration {
        display: none;
        background-color: @color-default;
        margin-right: 94px;
        @media (min-width: 768px) {
            display: inline-block;
        }
        @media (min-width: 1200px) {
            margin-right: 10px;
        }
    }
    .search_button {
        position: relative;
        display: none;
        margin: 0 0 0 20px;
        width: @header-height;
        height: @header-height;
        background-color: @color-grey;
        @media (min-width: 1200px) {
            display: inline-block;
        }
    }
}

.menu {
    position: fixed;
    top: 5px;
    right: 10px;
    margin-top: 0.15 * @header-height;
    display: inline-block;
    width: @header-menu-size;
    height: @header-menu-size;
    padding: 0.4 * @header-menu-size 0;
    background-color: @color-default;
    background-clip: content-box;
    border: transparent;
    outline: 0;
    z-index: 1000;
    &:hover {
        cursor: pointer;
    }
    @media (min-width: 1200px) {
        display: none;
    }
    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.2 * @header-menu-size;
        background-color: @color-default;
    }
    &:before {
        top: 0;
        left: 0;
    }
    &:after {
        top: 0.8 * @header-menu-size;
        left: 0;
    }
    .menu_opened {
        background-color: transparent;
        &:before,
        &:after {
            top: 0.4 * @header-menu-size;
        }
        &:before {
            transform: rotate(-45deg) scaleX(1.2);
        }
        &:before {
            transform: rotate(45deg) scaleX(1.2);
        }
    }
}

.slider {
    position: relative;
    width: 100%;
    font-size: 0;
    .slide_preview_description {
        display: none;
        position: absolute;
        width: 440px;
        height: 250px;
        z-index: 100;
        right: 260px;
        top: 200px;
        font-size: 16px;
        padding: 15px 25px 25px 25px;
        overflow: hidden;
        background-color: @color-default;
        color: white;
        @media(min-width: 1200px) {
            display: inline-block;
        }
    }
    .slide_preview_description_title {
        color: black;
        font-size: 30px;
        background-color: @color-default;
    }
    .decor_main_slide {
        display: none;
        position: absolute;
        bottom: -16%;
        z-index: 10;
        width: 45%;
        @media(min-width: 1200px) {
            display: block;
        }
        img {
            width: 100%;
        }
    }
    &>img {
        position: absolute;
        left: 0;
        top: 0;
        transition: 0.5s;
        &:nth-of-type(1) {
            position: relative;
        }
    }
    & input[name='slide_switch'] {
        display: none;
    }
    & label {
        position: relative;
        top: 0;
        right: 0;
        width: 20%;
        display: inline-block;
        cursor: pointer;
        z-index: 1;
        @media(min-width: 768px) {
            position: absolute;
            top: 0;
            right: 0;
            height: 20%;
            width: auto;
        }
        @media(min-width: 1200px) {
            width: 160px;
            position: absolute;
            top: 100px;
            right: 100px;
        }
        @slider-img-preview-height: 100px;
        @slider-img-preview-width: 160px;
        &:nth-of-type(1) {
            @media(min-width: 768px) {
                position: absolute;
                top: 0;
                right: 0;
            }
            @media(min-width: 1200px) {
                position: absolute;
                top: 100px;
                right: 100px + 2 * @slider-img-preview-width;
            }
        }
        &:nth-of-type(2) {
            @media(min-width: 768px) {
                position: absolute;
                top: 20%;
                right: 0;
            }
            @media(min-width: 1200px) {
                position: absolute;
                top: 100px;
                right: 100px + @slider-img-preview-width;
            }
        }
        &:nth-of-type(3) {
            @media(min-width: 768px) {
                position: absolute;
                top: 40%;
                right: 0;
            }
            @media(min-width: 1200px) {
                position: absolute;
                top: 100px;
                right: 100px;
            }
        }
        &:nth-of-type(4) {
            @media(min-width: 768px) {
                position: absolute;
                top: 60%;
                right: 0;
            }
            @media(min-width: 1200px) {
                position: absolute;
                top: 100px + @slider-img-preview-height;
                right: 100px;
            }
        }
        &:nth-of-type(5) {
            @media(min-width: 768px) {
                position: absolute;
                top: 80%;
                right: 0;
            }
            @media(min-width: 1200px) {
                position: absolute;
                top: 100px + 2 * @slider-img-preview-height;
                right: 100px;
            }
        }
    }
    & label img {
        font-size: 0;
        width: 100%;
        display: block;
        @media(min-width: 768px) {
            height: 100%;
            width: auto;
        }
        @media(min-width: 1200px) {
            width: 100%;
            height: auto;
        }
    }
    & input[name='slide_switch']:checked+label {
        border-color: #666;
        opacity: 1;
    }
    & input[name='slide_switch']~img {
        font-size: 0;
        width: 100%;
        opacity: 0;
        &:nth-of-type(1) {
            opacity: 1;
        }
    }
    & input[name='slide_switch']:checked+label+img {
        font-size: 0;
        width: 100%;
        opacity: 1;
    }
}

.news {
    position: relative;
    font-size: 24px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .sort_news {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        font-family: @font-light;
        align-self: flex-end;
        margin: 30px 23px 0 0;
        .sort_news_sort_by {
          margin-right: 20px;
        }
        .sort_news_btn {
            font-family: @font-light;
            outline: 0;
            padding: 10px 18px;
            font-size: 24px;
            border: 0;
            border-radius: 3px;
            background-color: transparent;
            margin-right: 10px;
            cursor: pointer;
            &:first-child {
                margin-left: 35px;
            }
            &[data-active="true"] {
                font-family: @font-bold;
                font-size: 25px;
                font-weight: 600;
                background-color: @color-yellow;
            }
        }
    }
    .news_title_underline_line {
        display: none;
        width: 100%;
        color: @color-grey;
        border: 2px solid @color-grey-light;
        font-size: 0;
        @media(min-width: 768px) {
            display: block;
        }
    }
    .news_title {
        margin: 60px 0 0 0;
        display: flex;
        justify-content: space-between;
        .news_title_name {
            .capter_title;
            margin: -15px 0 0 25px;
        }
        .news_title_all {
            .capter_title_all;
            color: @color-default;
            .news_title_name_span {
              border-bottom: dashed 1px #30b5d8;
            }
        }
        .news_select_type {
            font-size: 25px;
            font-family: @font-light;
            padding: 0 2px 5px 20px;
            color: @color-default;
            margin: 5px 0;
            border: 0;
            outline: 0;
            box-shadow: none;
            width: 100%;
            height: auto;
            background: url('../img/icons/select-arrow.png') no-repeat right #ebebeb;
            -webkit-appearance: none;
            background-position-x: 95%;
            @media(min-width: 768px) {
                width: 350px;
                height: 50px;
                margin: -10px 15px 0 0;
                background-position-x: 309px;
            }
        }
    }
    .news_slides {
        font-size: 0;
        margin: 20px 0 0 0;
        display: flex;
        flex-direction: column;
    }
    .news_slides_wrapper_img {
        position: relative;
        overflow: hidden;
        float: left;
        &:hover {
            .description-bubble {
                display: block
            }
            .news_slides_second_description {
                display: none;
            }
        }
        img {
            width: 100%;
        }
        .news_slides_main_description {
            position: absolute;
            display: inline-block;
            color: white;
            padding: 10px;
            font-family: @font-extra-bold;
            font-size: 26px;
            bottom: 30px;
            left: 35px;
            width: 455px;
            height: 80px;
            z-index: 100;
            background-color: #8e2e49;
            opacity: 0.8;
            transform: skewX(-5deg);
            .decor_line {
                transform: skewX(5deg);
            }
        }
        .news_slides_second_description {
            position: absolute;
            display: inline-block;
            color: white;
            padding: 10px;
            font-family: @font-light;
            font-size: 26px;
            bottom: 5px;
            left: 5%;
            width: 90%;
            z-index: 100;
            .news_slides_second_description-font-bold {
                font-family: @font-extra-bold;
            }
            .decor_line {
                margin: -5px 0 0 10px;
            }
        }
    }
}

.games {
    position: relative;
    background-color: #399084;
    margin-left: 0;
    padding: 0;
    border-top: solid 1px transparent;
    @media(min-width: 1300px) {
        margin-left: 70px;
    }
    .games_left_decor {
        display: none;
        position: absolute;
        float: left;
        left: -100px;
        top: 23px;
        width: 100px;
        height: 100%;
        background-color: #2a8075;
        transform: skewY(-25deg);
        @media(min-width: 1300px) {
            display: block;
        }
    }
    .games_head {
        margin-top: 20px;
        text-align: center;
        @media(min-width: 768px) {
            text-align: left;
        }
        .games_title {
            display: inline-block;
            margin: 20px;
            .games_title_name {
                .capter_title;
                color: white;
                margin: -15px 0 0 25px;
            }
            .games_title_all {
                .capter_title_all;
                color: white;
                border-bottom: dashed 1px white;
            }
        }
        .games-turn {
            margin: 15px 0;
            float: none;
            cursor: pointer;
            @media(min-width: 768px) {
                margin: 15px 0 0 25px;
                float: right;
            }
            .games-turn-decor() {
                position: absolute;
                display: inline-block;
                width: 10px;
                border: 2px solid white;
            }
            .games-turn-left {
                position: relative;
                margin: 1px;
                float: left;
                display: inline-block;
                width: 60px;
                height: 60px;
                background-color: black;
                opacity: 0.2;
                &:before {
                    .games-turn-decor();
                    content: '';
                    top: 38%;
                    left: 35%;
                    transform: skewY(-45deg);
                }
                &:after {
                    .games-turn-decor();
                    content: '';
                    top: 62%;
                    left: 35%;
                    transform: skewY(45deg);
                }
            }
            .games-turn-right {
                position: relative;
                margin: 1px;
                background-color: black;
                opacity: 0.8;
                float: right;
                display: inline-block;
                width: 60px;
                height: 60px;
                &:before {
                    .games-turn-decor();
                    content: '';
                    top: 38%;
                    right: 35%;
                    transform: skewY(45deg);
                }
                &:after {
                    .games-turn-decor();
                    content: '';
                    top: 62%;
                    right: 35%;
                    transform: skewY(-45deg);
                }
            }
        }
    }
    .game_main {
        font-size: 0;
        border-bottom: 1px solid transparent;
        .game_block_preview_wrapper {
            margin: 20px auto 100px; //width: 1200px;
        }
        img {
            float: left;
            border-bottom: 4px solid red;
        }
        .game_block_preview {
            position: relative;
            display: inline-block;
            background-color: white;
            width: 100%;
            font-size: 16px;
            margin-top: 20px;
            @media (min-width: 1024px) {
                width: 50%;
                margin-top: 0;
            }
            .game_block_preview_img_wrapper {
                overflow: hidden;
                display: inline-block;
                float: left;
            }
            .game_block_preview_title {
                display: inline-block;
                font-family: @font-bold;
                font-size: 30px;
                margin: 10px;
            }
            .game_block_preview_platform {
                font-family: @font-regular;
                display: inline-block;
            }
            .game_block_preview_description {
                font-family: @font-regular;
                margin: 10px 20px 20px 20px;
            }
            .game_block_preview_rating {
                float: right;
                width: 80px;
                height: 80px;
                position: absolute;
                top: -10px;
                right: 10px;
                background-color: @color-yellow;
                font-family: @font-extra-bold;
                font-size: 30px;
                line-height: 80px;
                text-align: center;
            }
        }
    }
}

.trailers {
    position: relative;
    background-color: #eae7d6;
    margin-left: 0;
    padding: 0;
    border-top: solid 1px transparent;
    @media (min-width: 1300px) {
        margin-left: 70px;
    }
    .trailers_left_decor {
        display: none;
        position: absolute;
        float: left;
        left: -100px;
        top: 23px;
        width: 100px;
        height: 100%;
        background-color: #dfdccb;
        transform: skewY(-25deg);
        @media (min-width: 1300px) {
            display: block;
        }
    }
    .trailers_head {
        margin-top: 20px;
        text-align: center;
        @media(min-width: 768px) {
            text-align: left;
        }
        .trailers_title {
            display: inline-block;
            margin: 20px;
            .trailers_title_name {
                .capter_title;
                text-transform: uppercase;
                color: black;
                margin: -15px 0 0 25px;
            }
            .trailers_title_all {
                .capter_title_all;
                color: @color-default;
                border-bottom: dashed 1px @color-default
            }
        }
        .trailers-turn {
            margin: 15px 0;
            float: none;
            cursor: pointer;
            @media(min-width: 768px) {
                margin: 15px 0 0 25px;
                float: right;
            }
            .trailers-turn-decor() {
                position: absolute;
                display: inline-block;
                width: 10px;
                border: 2px solid white;
            }
            .trailers-turn-left {
                position: relative;
                margin: 1px;
                float: left;
                display: inline-block;
                width: 60px;
                height: 60px;
                background-color: black;
                opacity: 0.2;
                &:before {
                    .trailers-turn-decor();
                    content: '';
                    top: 38%;
                    left: 35%;
                    transform: skewY(-45deg);
                }
                &:after {
                    .trailers-turn-decor();
                    content: '';
                    top: 62%;
                    left: 35%;
                    transform: skewY(45deg);
                }
            }
            .trailers-turn-right {
                position: relative;
                margin: 1px;
                background-color: black;
                opacity: 0.8;
                float: right;
                display: inline-block;
                width: 60px;
                height: 60px;
                &:before {
                    .trailers-turn-decor();
                    content: '';
                    top: 38%;
                    right: 35%;
                    transform: skewY(45deg);
                }
                &:after {
                    .trailers-turn-decor();
                    content: '';
                    top: 62%;
                    right: 35%;
                    transform: skewY(-45deg);
                }
            }
        }
    }
    .trailer_main {
        font-size: 0;
        border-bottom: 1px solid transparent;
        .trailer_blocks_preview_wrapper {
            margin: 20px auto 100px;
            .trailer_block_preview_wrapper {
                display: inline-block;
                width: 100%;
                @media(min-width: 768px) {
                    width: 50%;
                }
                img {
                    float: left;
                    border-bottom: 4px solid red;
                    width: 100%;
                }
                .trailer_block_preview {
                    position: relative;
                    background-color: white;
                    width: 100%;
                    font-size: 16px;
                    margin: 20px auto;
                    &:after {
                        content: '';
                        display: block;
                        clear: both;
                        visibility: hidden;
                        height: 0;
                    }
                    @media(min-width: 330px) {
                        width: 330px;
                    }
                    @media(min-width: 550px) {
                        width: 500px;
                    }
                    @media(min-width: 768px) {
                        width: 330px;
                    }
                    @media(min-width: 1200px) {
                        width: 500px;
                    }
                    .trailer_block_preview_img_wrapper {
                        overflow: hidden;
                        float: left;
                        .trailer_block_preview_play {
                            position: absolute;
                            float: left;
                            width: 80px;
                            height: 80px;
                            top: 0;
                            left: 0;
                            background-color: red;
                            z-index: 1;
                            &::after {
                                content: '';
                                position: absolute;
                                border: 15px solid;
                                transform: scaleX(2);
                            }
                        }
                        .trailer_block_preview_play_squire {
                            position: absolute;
                            float: left;
                            width: 80px;
                            height: 40px;
                            top: 0;
                            left: 0;
                            background-color: forestgreen;
                        }
                        .trailer_block_preview_play_triangle {
                            &::after {
                                color: transparent;
                                border-left-color: white;
                                left: 40px;
                                bottom: 25px;
                            }
                        }
                    }
                    &:hover {
                        .trailer_block_preview_play {
                            background-color: @color-yellow;
                            cursor: pointer;
                        }
                        .trailer_block_preview_hover_color {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: blueviolet;
                            opacity: 0.5;
                            cursor: pointer;
                        }
                    }
                    .trailer_block_preview_title {
                        display: inline-block;
                        font-family: @font-bold;
                        font-size: 20px;
                        margin: 10px;
                    }
                    .trailer_block_preview_description {
                        font-family: @font-regular;
                        margin: 10px 20px 20px 20px;
                    }
                    .trailer_block_preview_rating {
                        float: right;
                        width: 80px;
                        height: 80px;
                        position: absolute;
                        top: -10px;
                        right: 10px;
                        background-color: @color-yellow;
                        font-family: @font-extra-bold;
                        font-size: 30px;
                        line-height: 80px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.add_more {
    text-align: center;
    margin: 80px auto;
}

.add_more_button {
    padding: 12px 80px;
    font-family: @font-light;
    font-size: 24px;
    font-weight: 100;
    background-color: white;
    border-radius: 32px;
    border: 3px solid @color-default;
    outline: none;
    &:hover {
        cursor: pointer;
        color: white;
        background-color: @color-default;
    }
}

.decor_line {
    position: absolute;
    top: -30px;
    left: 0px;
    width: 100px;
    border: 3px solid @color-yellow;
}

.description-bubble {
    position: relative;
    background-color: #f3f1dc;
    color: black;
    width: 100%;
    height: 150px;
    text-align: center;
    font-family: sans-serif;
    z-index: 100;
    display: none;
    .description-bubble-wrapper {
        display: table;
        height: 100%;
    }
    p {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        color: black;
        padding: 10px;
        font-family: @font-regular;
        font-size: 26px;
        text-align: left;
    }
    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 15px solid;
    }
}

.description-bubble-top-small {
    position: absolute;
    top: 30%;
    height: 70%;
    left: 0;
    .decor_line {
        left: 10px;
    }
}

.description-bubble-top-middle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}

.description-bubble-top-large {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    .decor_line {
        bottom: 205px;
        left: 10px;
    }
}

.description-bubble-top:after {
    color: transparent;
    border-bottom-color: #f3f1dc;
    left: 50%;
    bottom: 100%;
    margin-left: -15px;
}

.description-bubble-left:after {
    color: transparent;
    border-right-color: #f3f1dc;
    top: 50%;
    right: 100%;
    margin-top: -15px;
}

.decor_line_text {
    position: relative;
}

.decor_line_text:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 0;
    height: 0;
    width: 100px;
    border: 3px solid #f0cb59;
}

.articles {
    position: relative;
    padding: 0;
    border-top: solid 1px transparent;
    .articles_head {
        margin-top: 20px;
        .articles_title {
            display: inline-block;
            margin: 20px;
            .articles_title_name {
                .capter_title;
                text-transform: uppercase;
                color: black;
                margin: -15px 0 0 25px;
            }
            .articles_title_all {
                .capter_title_all;
                color: #794f53;
                border-bottom: dashed 1px #794f53;
            }
        }
    }
    .add_article {
        float: right;
        font-size: 16px;
        padding: 5px 20px;
        color: white;
        background-color: @color-default;
    }
    .articles_main {
        .article_block_preview_wrapper {
            width: 100%;
            display: block;
            @media(min-width: 900px) {
                width: 49%;
                display: inline-block;
            }
            @media(min-width: 1200px) {
                width: 33%;
                display: inline-block;
                margin: 0 auto;
            }
        }
        .article_block_preview {
            width: 100%;
            border-top: 2px solid @color-grey;
            border-bottom: 2px solid @color-grey;
            margin: 0 auto;
            @media(min-width: 768px) {
                width: 400px;
                margin: 20px auto;
                border: 2px solid @color-grey;
            }
            &:hover {
                background-color: @color-default;
            }
        }
        .article_block_preview_header {
            margin-bottom: 20px;
            .article_block_preview_name {
                position: relative;
                display: inline-block;
                width: 90%;
                background-color: @color-grey-light;
                border-top: 1px solid @color-grey;
                top: 10px;
                margin-right: 10px;
                padding: 5px 10px;
                height: 59px;
                font-family: @font-bold;
                font-size: 24px;
                color: @color-default;
                @media(min-width: 600px) {
                    width: 70%;
                }
                @media(min-width: 768px) {
                    width: 230px;
                }
                .article_block_preview_count_open {
                    position: absolute;
                    color: black;
                    font-size: 12px;
                    font-family: @font-bold;
                    float: left;
                    bottom: 10px;
                    left: 10px;
                }
                .article_block_preview_count_comment {
                    position: absolute;
                    color: black;
                    font-size: 12px;
                    font-family: @font-bold;
                    float: left;
                    bottom: 10px;
                    left: 40px;
                }
            }
            .article_block_preview_date_img_block {
                float: left;
                position: relative;
                left: 0px;
                top: 10px;
                @media(min-width: 768px) {
                    left: -15px;
                }
                .article_block_preview_img {
                    float: left;
                    overflow: hidden;
                }
                .article_block_preview_date {
                    text-align: center;
                    line-height: 15px;
                    height: 70px;
                    width: 70px;
                    color: white;
                    background-color: @color-default;
                    float: left;
                    &:before {
                        content: '';
                        display: inline-block;
                        height: 100%;
                        vertical-align: middle;
                    }
                    .article_block_preview_date_wrapper {
                        display: inline-block;
                        vertical-align: middle;
                        .article_block_preview_date_number {
                            font-size: 30px;
                            font-family: @font-bold;
                        }
                    }
                }
            }
        }
        .article_block_preview_description_wrapper {
            padding: 10px;
            .article_block_preview_title {
                font-family: 'Times New Roman';
                font-weight: 900;
                font-size: 30px;
            }
            .article_block_preview_short {
                font-style: italic;
            }
        }
    }
}

footer {
    position: relative;
    background-color: @color-grey-light;
    .footer_description {
        position: relative;
        border-top: 10px solid @color-yellow;
        background-color: #33282c;
        width: 100%;
        margin: 0 0 50px 0;
        float: left;
        @footer-icon-size: 50px;
        @footer-icon-background: 100%;
        a {
            text-decoration: none;
            &:visited {
                text-decoration: none;
            }
        }
        @media(min-width: 768px) {
            width: 40%;
            margin-left: 100px;
            &:after {
                content: 'AM4';
                position: absolute;
                color: white;
                font-family: @font-bold;
                font-size: 200px;
                line-height: .8;
                left: -3%;
                bottom: 20px;
                opacity: 0.1;
                width: 30%;
                z-index: 2;
            }
        }
        .footer_description_text_wrapper {
            padding: 40px;
            @media(min-width: 768px) {
                width: 60%;
            }
            .footer_description_text {
                font-family: @font-regular;
                font-size: 16px;
                color: white;
            }
            .footer_description_header {
                font-family: @font-bold;
                font-size: 20px;
                color: white;
            }
        }
        .icon() {
            position: relative;
            top: -10px;
            text-align: center;
            display: inline-block;
            color: white;
            font-size: 40px;
            height: 0.8 * @footer-icon-size;
            width: 0.8 * @footer-icon-size;
            background-repeat: no-repeat;
            background-position: center;
            &:hover {
                cursor: pointer;
            }
        }
        .running_icon {
            .icon();
            left: -10px;
            height: @footer-icon-size + 10px;
            width: @footer-icon-size + 10px;
            background-size: 0.7 * @footer-icon-background;
            background-color: @color-yellow;
            background-image: url('../img/icons/running.png');
        }
        .twitter_icon {
            .icon();
        }
        .facebook_icon {
            .icon();
        }
        .ball_icon {
            .icon();
            top: -15px;
            font-size: 30px;
            background-size: 0.8 * @footer-icon-background;
            background-color: fuchsia;
            border-radius: 4px;
        }
        .google_icon {
            .icon();
        }
        .linkedin_icon {
            .icon(); // top: -5px;
            background-size: 0.8 * @footer-icon-background; // background-color: blue;
            border-radius: 4px; // .icon-linkedin {
            //   position: relative;
            //   top:-5px;
            // }
        }
    }
    .footer_18_warning {
        position: absolute;
        right: 20%;
        top: 10%;
        display: none;
        font-family: @font-light;
        font-size: 30px;
        border: 5px solid #d5d5d5;
        padding: 5px 20px;
        @media(min-width: 768px) {
            display: inline-block;
        }
    }
    .footer_write_to_us_button {
        position: absolute;
        bottom: -20px;
        left: 30%;
        padding: 12px 30px;
        font-family: @font-bold;
        font-size: 24px;
        font-weight: 100;
        background-color: @color-default;
        color: white;
        border-radius: 0;
        border: 0;
        outline: none;
        @media(min-width: 768px) {
            left: 20%;
        }
        &:hover {
            cursor: pointer;
            color: white;
            background-color: @color-yellow;
        }
    }
    .footer_img_man {
        position: relative;
        width: 35%;
        display: none;
        left: -15%;
        margin-top: -3%;
        font-size: 0;
        @media(min-width: 768px) {
            display: inline-block;
            float: left;
        }
    }
    .footer_decor {
        position: relative;
        width: 100%;
        height: 10px;
        font-size: 0;
        .footer_decor_redline {
            position: absolute;
            bottom: 0;
            display: inline-block;
            width: 40%;
            height: 10px;
            background-color: #ff4c36;
            z-index: 1;
        }
        .footer_decor_blueline {
            position: absolute;
            bottom: 0;
            left: 40%;
            display: inline-block;
            width: 60%;
            height: 10px;
            background-color: #01aaeb;
        }
        .footer_decor_mountans {
            position: absolute;
            bottom: 0;
            left: 25%;
            display: inline-block;
            width: 60%;
            z-index: 1;
            @media(min-width: 768px) {
                left: 30%;
                width: 40%;
            }
        }
    }
    .footer_copyright {
        position: absolute;
        bottom: 25%;
        right: 8%;
        width: 30%;
        display: none;
        overflow: hidden;
        @media(min-width: 768px) {
            display: inline-block;
        }
    }
}